﻿@model LeaveMngment.Models.LeaveTypes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<hr />
<div class="panel panel-success">
    <div class="panel-heading">Create Leave Types</div>
    <div class="row">
        
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="LeaveType" class="control-label">Leave Type</label>
                    <input asp-for="LeaveType" class="form-control" placeholder="Leave Type" style="width:650px"/>
                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="Description" class="control-label">Leave Description</label>
                    <input asp-for="Description" class="form-control" style="height:100px; width:650px" placeholder="Leave Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <div class="panel-footer">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    
</div>