﻿@model LeaveMngment.Models.LeaveDays

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<hr />
<div class="panel panel-success">
    <div class="panel-heading">Leave Day</div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="LeaveType" class="control-label"></label>
                    <select asp-for="LeaveType"
                            class="form-control" style="width:650px"
                            asp-items="@(new SelectList(@ViewBag.Types, "LeaveType", "LeaveType"))">
                    </select>

                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="EmploymentType" class="control-label"></label>
                    <select asp-for="EmploymentType"
                            class="form-control" style="width:650px"
                            asp-items="@(new SelectList(@ViewBag.Employee,"EmploymentType1", "EmploymentType1"))">
                    </select>

                    <span asp-validation-for="EmploymentType" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="Days" class="control-label"></label>
                    <input asp-for="Days" class="form-control" style="width:650px" />
                    <span asp-validation-for="Days" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" style="margin-left: 10px">Back to List</a>
    </div>

    </div>