﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <title>Dashboard - HRMS admin template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="~/img/logo.png" width="40" height="40" alt="">
                </a>
            </div>
            <div class="page-title-box pull-left">
                <h3>Performance Enhanced</h3>
            </div>
            <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <ul class="nav navbar-nav navbar-right user-menu pull-right">

                <li class="dropdown hidden-xs">
                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                </li>
                @*<li class="dropdown">
                        <a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin">
                            <span class="user-img">
                                <img class="img-circle" src="~/img/user.jpg" width="40" alt="Admin">
                                <span class="status online"></span>
                            </span>
                            <span>Admin</span>
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">My Profile</a></li>
                            <li><a href="edit-profile.html">Edit Profile</a></li>
                            <li><a href="settings.html">Settings</a></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </li>*@
            </ul>
            <div class="dropdown mobile-user-menu pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="profile.html">My Profile</a></li>
                    <li><a href="edit-profile.html">Edit Profile</a></li>
                    <li><a href="settings.html">Settings</a></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="active">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="submenu">
                            <a href="#" class="noti-dot"><span>Site Settings</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li>@Html.ActionLink("Employment Type", "Index", "EmploymentType")</li>
                                
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#" class="noti-dot"><span>User Management</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li>@Html.ActionLink("User List", "Index", "Account")</li>\
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#" class="noti-dot"><span>Leave Balance</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li>@Html.ActionLink("Check Leave Days", "Index", "UserLeave")</li>\
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#" class="noti-dot"><span>Leave Requests</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li>@Html.ActionLink("Leave Requests", "Index", "LeaveRequest")</li>\
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#" class="noti-dot"><span>Reports</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li>@Html.ActionLink("Leave Requests", "Index", "LeaveRequest")</li>\
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid">
                @RenderBody()
            </div>
        </div>

    </div>
    <div class="sidebar-overlay" data-reff="#sidebar"></div>
    <script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/plugins/morris/morris.min.js"></script>
    <script type="text/javascript" src="~/plugins/raphael/raphael-min.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script>
                    var data = [
                        { y: '2014', a: 50, b: 90 },
                        { y: '2015', a: 65, b: 75 },
                        { y: '2016', a: 50, b: 50 },
                        { y: '2017', a: 75, b: 60 },
                        { y: '2018', a: 80, b: 65 },
                        { y: '2019', a: 90, b: 70 },
                        { y: '2020', a: 100, b: 75 },
                        { y: '2021', a: 115, b: 75 },
                        { y: '2022', a: 120, b: 85 },
                        { y: '2023', a: 145, b: 85 },
                        { y: '2024', a: 160, b: 95 }
                    ],
                        config = {
                            data: data,
                            xkey: 'y',
                            ykeys: ['a', 'b'],
                            labels: ['Total Income', 'Total Outcome'],
                            fillOpacity: 0.6,
                            hideHover: 'auto',
                            behaveLikeLine: true,
                            resize: true,
                            pointFillColors: ['#ffffff'],
                            pointStrokeColors: ['black'],
                            gridLineColor: '#eef0f2',
                            lineColors: ['gray', '#00c5fb']
                        };
                    config.element = 'area-chart';
                    Morris.Area(config);
                    config.element = 'line-chart';
                    Morris.Line(config);
                    config.element = 'bar-chart';
                    Morris.Bar(config);
                    config.element = 'stacked';
                    config.stacked = true;
                    Morris.Bar(config);
                    Morris.Donut({
                        element: 'pie-chart',
                        data: [
                            { label: "Employees", value: 30 },
                            { label: "Clients", value: 15 },
                            { label: "Projects", value: 45 },
                            { label: "Tasks", value: 10 }
                        ]
                    });
    </script>
</body>
</html>