﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> usermanager
@inject LeaveMngment.Common.Commons com;

@{
    string Title = com.GetTitle(User.Identity.Name);
}
@if (Title == "HR")
{
    <ul>
        <li class="active">
            <a href="#">Dashboard</a>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Site Settings</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Employment Type", "Index", "EmploymentType")</li>
                <li>@Html.ActionLink("Employment Role", "Index", "EmploymentRole")</li>
                <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                <li>@Html.ActionLink("Leave Types", "Index", "LeaveTypes")</li>
                <li>@Html.ActionLink("Leave Days", "Index", "LeaveDays")</li>
                <li>@Html.ActionLink("Holidays", "Index", "Holidays")</li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>User Management</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("User List", "Index", "Account")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Schedule</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Schedule Leave", "ScheduleIndex", "UserLeave")</li>\
                <li>@Html.ActionLink("Approve Schedule", "ViewUpproved", "UserLeave")</li>\
                <li>@Html.ActionLink("Reject Schedule", "ViewUnaproved", "UserLeave")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Application</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Leave Application", "CreateLeave", "LeaveForm")</li>\
                <li>@Html.ActionLink("Pending Leave", "Index", "LeaveForm")</li>\
                <li>@Html.ActionLink("Approved Leave", "Approved", "LeaveForm")</li>\
                <li>@Html.ActionLink("Rejected Leave", "Rejected", "LeaveForm")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Approve Leave</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Approved Leave", "Approved", "LeaveForm")</li>\
                <li>@Html.ActionLink("Rejected Leave", "Rejected", "LeaveForm")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Balance</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Check Leave Days", "Index", "UserLeave")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Requests</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Leave Requests", "Index", "LeaveRequest")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Reports</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Approved Leave Schedule", "ViewApproved", "UserLeave")</li>\
                <li>@Html.ActionLink("Rejected Leave Schedule", "ViewRejected", "UserLeave")</li>\
            </ul>
        </li>
    </ul>
}
@if (Title == "Manager")
{
    <ul>
        <li class="active">
            <a href="#">Dashboard</a>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>User Management</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("User List", "Index", "Account")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Schedule</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Schedule Leave", "ScheduleIndex", "UserLeave")</li>\
                <li>@Html.ActionLink("Approve Schedule", "ViewUpproved", "UserLeave")</li>\
                <li>@Html.ActionLink("Reject Schedule", "ViewUnaproved", "UserLeave")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Application</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Leave Application", "CreateLeave", "LeaveForm")</li>\
                <li>@Html.ActionLink("Pending Leave", "Index", "LeaveForm")</li>\
                <li>@Html.ActionLink("Approved Leave", "Approved", "LeaveForm")</li>\
                <li>@Html.ActionLink("Rejected Leave", "Rejected", "LeaveForm")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Approve Leave</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Approved Leave", "Approved", "LeaveForm")</li>\
                <li>@Html.ActionLink("Rejected Leave", "Rejected", "LeaveForm")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Balance</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Check Leave Days", "Index", "UserLeave")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Requests</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Leave Requests", "Index", "LeaveRequest")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Reports</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Approved Leave Schedule", "ViewApproved", "UserLeave")</li>\
                <li>@Html.ActionLink("Rejected Leave Schedule", "ViewRejected", "UserLeave")</li>\
            </ul>
        </li>
    </ul>
}
@if (Title == "Employee")
{

    <ul>
        <li class="active">
            <a href="#">Dashboard</a>
        </li>   
       
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Application</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Leave Application", "CreateLeave", "LeaveForm")</li>\
                <li>@Html.ActionLink("Pending Leave", "Index", "LeaveForm")</li>\
                <li>@Html.ActionLink("Approved Leave", "Approved", "LeaveForm")</li>\
                <li>@Html.ActionLink("Rejected Leave", "Rejected", "LeaveForm")</li>\
            </ul>
        </li>
        
        <li class="submenu">
            <a href="#" class="noti-dot"><span>Leave Balance</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("Check Leave Days", "Index", "UserLeave")</li>\
            </ul>
        </li>
        <li class="submenu">
            <a href="#" class="noti-dot"><span>View Scheduled Leave</span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled" style="display: none;">
                <li>@Html.ActionLink("View Schedule", "ScheduleIndex", "UserLeave")</li>\
            </ul>
        </li>
        
    </ul>
}


