﻿@model LeaveMngment.Models.Departments

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_admin.cshtml";    
}

<div class="panel panel-success">
    <div class="panel-heading">Edit Departments</div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input asp-for="DepartmentName" class="form-control" style="width:650px"    />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <input type="submit" value="Save" class="btn btn-success"    />
                </div>
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

