﻿@model LeaveMngment.Models.LeaveSchedule

@{
    ViewData["Title"] = "CreateSchedule";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<hr />
<div class="panel panel-success">
    <div class="panel-heading">Create New Schedule</div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateSchedule">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="LeaveFrom" class="control-label"></label>
                    <input asp-for="LeaveFrom" type="date" class="form-control" />
                    <span asp-validation-for="LeaveFrom" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="LeaveTo" class="control-label"></label>
                    <input asp-for="LeaveTo" type="date" class="form-control" />
                    <span asp-validation-for="LeaveTo" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="Days" class="control-label"></label>
                    <input asp-for="Days" class="form-control" />
                    <span asp-validation-for="Days" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


