﻿@model IPagedList<LeaveMngment.Models.UserLeaveDays>
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ScheduleIndex", "UserLeave", FormMethod.Get))
        {
            @Html.DropDownList("Status", new List<SelectListItem>

            {
                new SelectListItem {Text = "Email", Value = "Email"},
                new SelectListItem {Text = "Department", Value = "Department"},
            }, new { @class = "form-control", style = "width:333px" })
            <br />
            @Html.TextBox("Search", null, new { @class = "form-control", style = "width:333px" })
            <br />
            <input type="submit" class="btn btn-success" value="Search">
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Department
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Actual Leave Days
            </th>
            <th>
                Remaining Days
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingDays)
                </td>
                <td>
                    <a asp-action="CreateSchedule" asp-route-id="@item.Id">Create Leave chedule</a>
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount