﻿@model IEnumerable<LeaveMngment.Models.LeaveSchedule>

@{
    ViewData["Title"] = "ViewSchedule";
    Layout = "~/Views/Shared/_admin.cshtml";
}

@{
    var message = TempData["successmessage"] ?? string.Empty;
}
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
<hr />
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">

    <thead>
        <tr>
            <th>
                Leave From
            </th>
            <th>
                Leave To
            </th>
            <th>
                Department
            </th>
            <th>
                Email
            </th>
            <th>
                Days
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                <a asp-action="Approve" asp-route-id="@item.Id">Approve</a> |
            </td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#example').DataTable();
    });
    // Code that uses other library's $ can follow here.
</script>
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>