﻿@model LeaveMngment.Models.Holidays

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<hr />
<div class="panel panel-success">
    <div class="panel-heading">Holidays</div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Holiday Name" style="width:650px"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" class="form-control" placeholder="Date Of Holiday" style="width:650px"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Holiday Description" style="width:650px"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

