﻿@model LeaveMngment.Models.AspNetUsers

@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_admin.cshtml";
}
@{
    var message = TempData["successmessage"] ?? string.Empty;
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<hr />
<div class="panel panel-success">
    <div class="panel-heading">Create User</div>
    <div class="row">
        <form asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="Names" class="control-label">Names</label>
                        <input asp-for="Names" class="form-control" style="width:450px" />
                        <span asp-validation-for="Names" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="UserName" class="control-label">User Name</label>
                        <input asp-for="UserName" class="form-control" style="width:450px" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" style="width:450px" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" style="width:450px" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="Department" class="control-label"></label>
                        <select asp-for="Department"
                                class="form-control" style="width:450px"
                                asp-items="@(new SelectList(@ViewBag.Types,"DepartmentName", "DepartmentName"))">
                        </select>
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="EmploymentType" class="control-label"></label>
                        <select asp-for="EmploymentType"
                                class="form-control" style="width:450px"
                                asp-items="@(new SelectList(@ViewBag.Emp,"EmploymentType1", "EmploymentType1"))">
                        </select>
                        <span asp-validation-for="EmploymentType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="Title" class="control-label">Role</label>
                        <select asp-for="Title"
                                class="form-control" style="width:450px"
                                asp-items="@(new SelectList(@ViewBag.role,"EmploymentRole1", "EmploymentRole1"))">
                        </select>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="IdNumber" class="control-label"></label>
                        <input asp-for="IdNumber" class="form-control" style="width:450px" />
                        <span asp-validation-for="IdNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 20px">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control" required style="width:450px">
                            <option value="">Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group" style="margin-left: 20px">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>