﻿@model IPagedList<LeaveMngment.Models.AspNetUsers>
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}
@{
    var message = TempData["successmessage"] ?? string.Empty;
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<a asp-action="CreateUser" class="btn btn-primary rounded"><i class="fa fa-plus"></i> Add User</a>
<hr />
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Account", FormMethod.Get))
        {
            @Html.DropDownList("Status", new List<SelectListItem>

            {
                new SelectListItem {Text = "User Name", Value = "UserName"},
                new SelectListItem {Text = "Email", Value = "Email"},
            }, new { @class = "form-control", style = "width:333px" })
            <br />
            @Html.TextBox("Search", null, new { @class = "form-control", style = "width:333px" })
            <br />
            <input type="submit" class="btn btn-success" value="Search">
        }
    </div>
</div>
<hr />
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Department
            </th>
            <th>
                ID Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#example').DataTable();
    });
    // Code that uses other library's $ can follow here.
</script>
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>