﻿@model LeaveMngment.Models.LeaveForm

@{
    ViewData["Title"] = "CreateLeave";
    Layout = "~/Views/Shared/_admin.cshtml";
}
@{
    var message = TempData["successmessage"] ?? string.Empty;
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<hr />
<div class="panel panel-success">
    <div class="panel-heading">Leave Application Form</div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateLeave">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="LeaveType" class="control-label"></label>
                    <select asp-for="LeaveType"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.Types, "LeaveType", "LeaveType")) "></select>
                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="LeaveFrom" class="control-label"></label>
                    <input asp-for="LeaveFrom" type="date" class="form-control" />
                    <span asp-validation-for="LeaveFrom" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="LeaveTo" class="control-label"></label>
                    <input asp-for="LeaveTo" type="date" class="form-control" />
                    <span asp-validation-for="LeaveTo" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="NoOfDays" class="control-label"></label>
                    <input asp-for="NoOfDays" class="form-control" />
                    <span asp-validation-for="NoOfDays" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="Reason" class="control-label"></label>
                    <textarea asp-for="Reason" class="form-control" rows="5" cols="40"></textarea>
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" style="margin-left: 10px">Back to List</a>
    </div>

</div>e that uses other library's $ can follow here.
</script>
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>